@font-face {
  font-family: Dosis-Regular;
  src: url("../webfonts/Dosis-Regular.ttf"); }
/* Variables */
/* Main Colors */
/*Font-size*/
/* Screen Sizes */
/* Global Style */
* {
  font-family: 'Dosis-Regular', sans-serif;
  text-transform: capitalize;
  box-sizing: border-box;
  outline: none;
  color: #333;
  line-height: 1.6; }

p {
  margin-bottom: 0; }

body {
  background-color: #DEE1E2;
  /* Start NavBar */
  /* End NavBar */
  /* Start OverView Section */
  /* End OverView Section */ }
  body .nav-horizontal .navbar-toggler {
    height: 100%; }
    body .nav-horizontal .navbar-toggler i {
      color: #F2F5F6;
      font-size: 25px; }
  body .nav-horizontal #navbarSupportedContent {
    background-color: #F23557;
    box-shadow: 0 3px 3px -2px #333; }
    body .nav-horizontal #navbarSupportedContent form ul li {
      display: block !important;
      width: 100%;
      margin-left: 20px; }
  body .navbar {
    background-color: #F23557;
    z-index: 2;
    box-shadow: 0 0 3px 0 #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px; }
    body .navbar li.nav-item {
      padding: 8px 16px; }
      body .navbar li.nav-item:last-child {
        padding-right: 0; }
      body .navbar li.nav-item a {
        color: #F2F5F6;
        transition: color 0.2s ease-in-out;
        padding: 0;
        position: relative;
        font-size: 18px; }
        body .navbar li.nav-item a:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          height: 2px;
          width: 0;
          background: #F2F5F6;
          transition: width 0.2s ease-in-out, background-color 0.2s ease-in-out; }
        body .navbar li.nav-item a:hover {
          color: #333; }
          body .navbar li.nav-item a:hover:before {
            background-color: #333;
            width: 100%; }
  body .overview, body .education, body .portfolio, body .contactMe {
    height: calc(100vh - 56px);
    margin-top: 56px; }
    @media screen and (max-width: 767px) {
      body .overview, body .education, body .portfolio, body .contactMe {
        width: 90%;
        margin: auto;
        height: auto; } }
    body .overview .overview-inner, body .education .overview-inner, body .portfolio .overview-inner, body .contactMe .overview-inner, body .education .education-inner, body .portfolio .portfolio-inner, body .contactMe .contactMe-inner {
      background-color: #DEE1E2;
      height: 550px;
      box-shadow: 0 0 2px 0 #F23557;
      border-radius: 0.25rem;
      overflow: hidden;
      padding-bottom: 1rem; }
      @media screen and (max-width: 767px) {
        body .overview .overview-inner, body .education .overview-inner, body .portfolio .overview-inner, body .contactMe .overview-inner, body .education .education-inner, body .portfolio .portfolio-inner, body .contactMe .contactMe-inner {
          margin-top: 85px;
          height: auto; } }
      body .overview .overview-inner .head, body .education .overview-inner .head, body .portfolio .overview-inner .head, body .contactMe .overview-inner .head, body .education .education-inner .head, body .portfolio .portfolio-inner .head, body .contactMe .contactMe-inner .head {
        color: #F2F5F6;
        background-color: #F23557;
        text-align: center;
        box-shadow: 0 0 3px 0 #333; }
        body .overview .overview-inner .head h4, body .education .overview-inner .head h4, body .portfolio .overview-inner .head h4, body .contactMe .overview-inner .head h4, body .education .education-inner .head h4, body .portfolio .portfolio-inner .head h4, body .contactMe .contactMe-inner .head h4 {
          padding: 10px 0;
          margin-bottom: 0; }
          @media screen and (max-width: 767px) {
            body .overview .overview-inner .head h4, body .education .overview-inner .head h4, body .portfolio .overview-inner .head h4, body .contactMe .overview-inner .head h4, body .education .education-inner .head h4, body .portfolio .portfolio-inner .head h4, body .contactMe .contactMe-inner .head h4 {
              font-size: 1.2rem;
              padding: 5px 0; } }
      body .overview .overview-inner .row, body .education .overview-inner .row, body .portfolio .overview-inner .row, body .contactMe .overview-inner .row, body .education .education-inner .row, body .portfolio .portfolio-inner .row, body .contactMe .contactMe-inner .row {
        height: calc(100% - 30px); }
      body .overview .overview-inner .personal-details, body .education .overview-inner .personal-details, body .portfolio .overview-inner .personal-details, body .contactMe .overview-inner .personal-details, body .education .education-inner .personal-details, body .portfolio .portfolio-inner .personal-details, body .contactMe .contactMe-inner .personal-details {
        border-right: 1px solid rgba(242, 53, 87, 0.5);
        color: #333;
        text-align: center;
        height: 100%; }
        @media screen and (max-width: 767px) {
          body .overview .overview-inner .personal-details, body .education .overview-inner .personal-details, body .portfolio .overview-inner .personal-details, body .contactMe .overview-inner .personal-details, body .education .education-inner .personal-details, body .portfolio .portfolio-inner .personal-details, body .contactMe .contactMe-inner .personal-details {
            border-right: none; } }
        body .overview .overview-inner .personal-details .img-container, body .education .overview-inner .personal-details .img-container, body .portfolio .overview-inner .personal-details .img-container, body .contactMe .overview-inner .personal-details .img-container, body .education .education-inner .personal-details .img-container, body .portfolio .portfolio-inner .personal-details .img-container, body .contactMe .contactMe-inner .personal-details .img-container {
          margin-left: 5px; }
          @media screen and (min-width: 991px) {
            body .overview .overview-inner .personal-details .img-container, body .education .overview-inner .personal-details .img-container, body .portfolio .overview-inner .personal-details .img-container, body .contactMe .overview-inner .personal-details .img-container, body .education .education-inner .personal-details .img-container, body .portfolio .portfolio-inner .personal-details .img-container, body .contactMe .contactMe-inner .personal-details .img-container {
              margin-left: 0; } }
          body .overview .overview-inner .personal-details .img-container img, body .education .overview-inner .personal-details .img-container img, body .portfolio .overview-inner .personal-details .img-container img, body .contactMe .overview-inner .personal-details .img-container img, body .education .education-inner .personal-details .img-container img, body .portfolio .portfolio-inner .personal-details .img-container img, body .contactMe .contactMe-inner .personal-details .img-container img {
            width: 80px;
            border-radius: 0 0 50% 50%;
            filter: grayscale(50%);
            transition: filter 0.2s ease-in-out; }
            body .overview .overview-inner .personal-details .img-container img:hover, body .education .overview-inner .personal-details .img-container img:hover, body .portfolio .overview-inner .personal-details .img-container img:hover, body .contactMe .overview-inner .personal-details .img-container img:hover, body .education .education-inner .personal-details .img-container img:hover, body .portfolio .portfolio-inner .personal-details .img-container img:hover, body .contactMe .contactMe-inner .personal-details .img-container img:hover {
              filter: grayscale(0); }
            @media screen and (max-width: 767px) {
              body .overview .overview-inner .personal-details .img-container img, body .education .overview-inner .personal-details .img-container img, body .portfolio .overview-inner .personal-details .img-container img, body .contactMe .overview-inner .personal-details .img-container img, body .education .education-inner .personal-details .img-container img, body .portfolio .portfolio-inner .personal-details .img-container img, body .contactMe .contactMe-inner .personal-details .img-container img {
                width: 50px;
                border-radius: 0 0 50% 50%;
                filter: none; } }
          body .overview .overview-inner .personal-details .img-container .name, body .education .overview-inner .personal-details .img-container .name, body .portfolio .overview-inner .personal-details .img-container .name, body .contactMe .overview-inner .personal-details .img-container .name, body .education .education-inner .personal-details .img-container .name, body .portfolio .portfolio-inner .personal-details .img-container .name, body .contactMe .contactMe-inner .personal-details .img-container .name {
            margin-top: 10px; }
            @media screen and (max-width: 767px) {
              body .overview .overview-inner .personal-details .img-container .name, body .education .overview-inner .personal-details .img-container .name, body .portfolio .overview-inner .personal-details .img-container .name, body .contactMe .overview-inner .personal-details .img-container .name, body .education .education-inner .personal-details .img-container .name, body .portfolio .portfolio-inner .personal-details .img-container .name, body .contactMe .contactMe-inner .personal-details .img-container .name {
                margin-top: 5px;
                /*margin-left : 20px;*/
                text-align: center; } }
            body .overview .overview-inner .personal-details .img-container .name h4, body .education .overview-inner .personal-details .img-container .name h4, body .portfolio .overview-inner .personal-details .img-container .name h4, body .contactMe .overview-inner .personal-details .img-container .name h4, body .education .education-inner .personal-details .img-container .name h4, body .portfolio .portfolio-inner .personal-details .img-container .name h4, body .contactMe .contactMe-inner .personal-details .img-container .name h4 {
              font-size: 1.4rem; }
              @media screen and (max-width: 767px) {
                body .overview .overview-inner .personal-details .img-container .name h4, body .education .overview-inner .personal-details .img-container .name h4, body .portfolio .overview-inner .personal-details .img-container .name h4, body .contactMe .overview-inner .personal-details .img-container .name h4, body .education .education-inner .personal-details .img-container .name h4, body .portfolio .portfolio-inner .personal-details .img-container .name h4, body .contactMe .contactMe-inner .personal-details .img-container .name h4 {
                  font-size: 1.2rem;
                  margin-bottom: 5px; } }
        body .overview .overview-inner .personal-details .details, body .education .overview-inner .personal-details .details, body .portfolio .overview-inner .personal-details .details, body .contactMe .overview-inner .personal-details .details, body .education .education-inner .personal-details .details, body .portfolio .portfolio-inner .personal-details .details, body .contactMe .contactMe-inner .personal-details .details {
          margin-top: 8px; }
          @media screen and (max-width: 767px) {
            body .overview .overview-inner .personal-details .details, body .education .overview-inner .personal-details .details, body .portfolio .overview-inner .personal-details .details, body .contactMe .overview-inner .personal-details .details, body .education .education-inner .personal-details .details, body .portfolio .portfolio-inner .personal-details .details, body .contactMe .contactMe-inner .personal-details .details {
              margin-top: 0;
              position: relative;
              border-bottom: 1px solid rgba(242, 53, 87, 0.5);
              padding-bottom: 10px;
              padding-left: 10px; } }
          body .overview .overview-inner .personal-details .details .location i, body .education .overview-inner .personal-details .details .location i, body .portfolio .overview-inner .personal-details .details .location i, body .contactMe .overview-inner .personal-details .details .location i, body .education .education-inner .personal-details .details .location i, body .portfolio .portfolio-inner .personal-details .details .location i, body .contactMe .contactMe-inner .personal-details .details .location i {
            color: #F23557; }
          @media screen and (max-width: 767px) {
            body .overview .overview-inner .personal-details .details .language h6, body .education .overview-inner .personal-details .details .language h6, body .portfolio .overview-inner .personal-details .details .language h6, body .contactMe .overview-inner .personal-details .details .language h6, body .education .education-inner .personal-details .details .language h6, body .portfolio .portfolio-inner .personal-details .details .language h6, body .contactMe .contactMe-inner .personal-details .details .language h6 {
              margin-bottom: 4px; } }
          body .overview .overview-inner .personal-details .details .language ul, body .education .overview-inner .personal-details .details .language ul, body .portfolio .overview-inner .personal-details .details .language ul, body .contactMe .overview-inner .personal-details .details .language ul, body .education .education-inner .personal-details .details .language ul, body .portfolio .portfolio-inner .personal-details .details .language ul, body .contactMe .contactMe-inner .personal-details .details .language ul {
            text-align: left;
            margin-bottom: 0;
            list-style: circle;
            display: inline-block;
            padding: 0; }
          @media screen and (max-width: 767px) {
            body .overview .overview-inner .personal-details .details .social, body .education .overview-inner .personal-details .details .social, body .portfolio .overview-inner .personal-details .details .social, body .contactMe .overview-inner .personal-details .details .social, body .education .education-inner .personal-details .details .social, body .portfolio .portfolio-inner .personal-details .details .social, body .contactMe .contactMe-inner .personal-details .details .social {
              position: absolute;
              right: 0;
              bottom: 0;
              background-color: #F2F5F6;
              border-radius: 9px 0 0 9px;
              padding: 5px; } }
          body .overview .overview-inner .personal-details .details .social a, body .education .overview-inner .personal-details .details .social a, body .portfolio .overview-inner .personal-details .details .social a, body .contactMe .overview-inner .personal-details .details .social a, body .education .education-inner .personal-details .details .social a, body .portfolio .portfolio-inner .personal-details .details .social a, body .contactMe .contactMe-inner .personal-details .details .social a {
            display: inline-block;
            width: 35px;
            height: 35px;
            line-height: 35px;
            border-radius: 50%;
            transition: background-color 0.2s ease-in-out; }
            @media screen and (max-width: 767px) {
              body .overview .overview-inner .personal-details .details .social a, body .education .overview-inner .personal-details .details .social a, body .portfolio .overview-inner .personal-details .details .social a, body .contactMe .overview-inner .personal-details .details .social a, body .education .education-inner .personal-details .details .social a, body .portfolio .portfolio-inner .personal-details .details .social a, body .contactMe .contactMe-inner .personal-details .details .social a {
                width: 25px;
                height: 25px;
                line-height: 25px;
                display: block;
                text-align: center;
                margin-bottom: 5px;
                margin-right: 0; } }
            body .overview .overview-inner .personal-details .details .social a i, body .education .overview-inner .personal-details .details .social a i, body .portfolio .overview-inner .personal-details .details .social a i, body .contactMe .overview-inner .personal-details .details .social a i, body .education .education-inner .personal-details .details .social a i, body .portfolio .portfolio-inner .personal-details .details .social a i, body .contactMe .contactMe-inner .personal-details .details .social a i {
              transition: color 0.2s ease-in-out;
              font-size: 1.25rem; }
              @media screen and (max-width: 767px) {
                body .overview .overview-inner .personal-details .details .social a i, body .education .overview-inner .personal-details .details .social a i, body .portfolio .overview-inner .personal-details .details .social a i, body .contactMe .overview-inner .personal-details .details .social a i, body .education .education-inner .personal-details .details .social a i, body .portfolio .portfolio-inner .personal-details .details .social a i, body .contactMe .contactMe-inner .personal-details .details .social a i {
                  font-size: 1rem; } }
            body .overview .overview-inner .personal-details .details .social a:not(:last-of-type), body .education .overview-inner .personal-details .details .social a:not(:last-of-type), body .portfolio .overview-inner .personal-details .details .social a:not(:last-of-type), body .contactMe .overview-inner .personal-details .details .social a:not(:last-of-type), body .education .education-inner .personal-details .details .social a:not(:last-of-type), body .portfolio .portfolio-inner .personal-details .details .social a:not(:last-of-type), body .contactMe .contactMe-inner .personal-details .details .social a:not(:last-of-type) {
              margin-right: 5px; }
              @media screen and (max-width: 767px) {
                body .overview .overview-inner .personal-details .details .social a:not(:last-of-type), body .education .overview-inner .personal-details .details .social a:not(:last-of-type), body .portfolio .overview-inner .personal-details .details .social a:not(:last-of-type), body .contactMe .overview-inner .personal-details .details .social a:not(:last-of-type), body .education .education-inner .personal-details .details .social a:not(:last-of-type), body .portfolio .portfolio-inner .personal-details .details .social a:not(:last-of-type), body .contactMe .contactMe-inner .personal-details .details .social a:not(:last-of-type) {
                  margin-right: 0; } }
            body .overview .overview-inner .personal-details .details .social a:nth-of-type(1), body .education .overview-inner .personal-details .details .social a:nth-of-type(1), body .portfolio .overview-inner .personal-details .details .social a:nth-of-type(1), body .contactMe .overview-inner .personal-details .details .social a:nth-of-type(1), body .education .education-inner .personal-details .details .social a:nth-of-type(1), body .portfolio .portfolio-inner .personal-details .details .social a:nth-of-type(1), body .contactMe .contactMe-inner .personal-details .details .social a:nth-of-type(1) {
              background-color: #3B5998; }
              body .overview .overview-inner .personal-details .details .social a:nth-of-type(1) i, body .education .overview-inner .personal-details .details .social a:nth-of-type(1) i, body .portfolio .overview-inner .personal-details .details .social a:nth-of-type(1) i, body .contactMe .overview-inner .personal-details .details .social a:nth-of-type(1) i, body .education .education-inner .personal-details .details .social a:nth-of-type(1) i, body .portfolio .portfolio-inner .personal-details .details .social a:nth-of-type(1) i, body .contactMe .contactMe-inner .personal-details .details .social a:nth-of-type(1) i {
                color: #FFF; }
              body .overview .overview-inner .personal-details .details .social a:nth-of-type(1):hover, body .education .overview-inner .personal-details .details .social a:nth-of-type(1):hover, body .portfolio .overview-inner .personal-details .details .social a:nth-of-type(1):hover, body .contactMe .overview-inner .personal-details .details .social a:nth-of-type(1):hover, body .education .education-inner .personal-details .details .social a:nth-of-type(1):hover, body .portfolio .portfolio-inner .personal-details .details .social a:nth-of-type(1):hover, body .contactMe .contactMe-inner .personal-details .details .social a:nth-of-type(1):hover {
                background-color: #FFF; }
                body .overview .overview-inner .personal-details .details .social a:nth-of-type(1):hover i, body .education .overview-inner .personal-details .details .social a:nth-of-type(1):hover i, body .portfolio .overview-inner .personal-details .details .social a:nth-of-type(1):hover i, body .contactMe .overview-inner .personal-details .details .social a:nth-of-type(1):hover i, body .education .education-inner .personal-details .details .social a:nth-of-type(1):hover i, body .portfolio .portfolio-inner .personal-details .details .social a:nth-of-type(1):hover i, body .contactMe .contactMe-inner .personal-details .details .social a:nth-of-type(1):hover i {
                  color: #3B5998; }
            body .overview .overview-inner .personal-details .details .social a:nth-of-type(2), body .education .overview-inner .personal-details .details .social a:nth-of-type(2), body .portfolio .overview-inner .personal-details .details .social a:nth-of-type(2), body .contactMe .overview-inner .personal-details .details .social a:nth-of-type(2), body .education .education-inner .personal-details .details .social a:nth-of-type(2), body .portfolio .portfolio-inner .personal-details .details .social a:nth-of-type(2), body .contactMe .contactMe-inner .personal-details .details .social a:nth-of-type(2) {
              background-color: #1DA1F2; }
              body .overview .overview-inner .personal-details .details .social a:nth-of-type(2) i, body .education .overview-inner .personal-details .details .social a:nth-of-type(2) i, body .portfolio .overview-inner .personal-details .details .social a:nth-of-type(2) i, body .contactMe .overview-inner .personal-details .details .social a:nth-of-type(2) i, body .education .education-inner .personal-details .details .social a:nth-of-type(2) i, body .portfolio .portfolio-inner .personal-details .details .social a:nth-of-type(2) i, body .contactMe .contactMe-inner .personal-details .details .social a:nth-of-type(2) i {
                color: #FFF; }
              body .overview .overview-inner .personal-details .details .social a:nth-of-type(2):hover, body .education .overview-inner .personal-details .details .social a:nth-of-type(2):hover, body .portfolio .overview-inner .personal-details .details .social a:nth-of-type(2):hover, body .contactMe .overview-inner .personal-details .details .social a:nth-of-type(2):hover, body .education .education-inner .personal-details .details .social a:nth-of-type(2):hover, body .portfolio .portfolio-inner .personal-details .details .social a:nth-of-type(2):hover, body .contactMe .contactMe-inner .personal-details .details .social a:nth-of-type(2):hover {
                background-color: #FFF; }
                body .overview .overview-inner .personal-details .details .social a:nth-of-type(2):hover i, body .education .overview-inner .personal-details .details .social a:nth-of-type(2):hover i, body .portfolio .overview-inner .personal-details .details .social a:nth-of-type(2):hover i, body .contactMe .overview-inner .personal-details .details .social a:nth-of-type(2):hover i, body .education .education-inner .personal-details .details .social a:nth-of-type(2):hover i, body .portfolio .portfolio-inner .personal-details .details .social a:nth-of-type(2):hover i, body .contactMe .contactMe-inner .personal-details .details .social a:nth-of-type(2):hover i {
                  color: #1DA1F2; }
            body .overview .overview-inner .personal-details .details .social a:nth-of-type(3), body .education .overview-inner .personal-details .details .social a:nth-of-type(3), body .portfolio .overview-inner .personal-details .details .social a:nth-of-type(3), body .contactMe .overview-inner .personal-details .details .social a:nth-of-type(3), body .education .education-inner .personal-details .details .social a:nth-of-type(3), body .portfolio .portfolio-inner .personal-details .details .social a:nth-of-type(3), body .contactMe .contactMe-inner .personal-details .details .social a:nth-of-type(3) {
              background-color: #0077B5; }
              body .overview .overview-inner .personal-details .details .social a:nth-of-type(3) i, body .education .overview-inner .personal-details .details .social a:nth-of-type(3) i, body .portfolio .overview-inner .personal-details .details .social a:nth-of-type(3) i, body .contactMe .overview-inner .personal-details .details .social a:nth-of-type(3) i, body .education .education-inner .personal-details .details .social a:nth-of-type(3) i, body .portfolio .portfolio-inner .personal-details .details .social a:nth-of-type(3) i, body .contactMe .contactMe-inner .personal-details .details .social a:nth-of-type(3) i {
                color: #FFF; }
              body .overview .overview-inner .personal-details .details .social a:nth-of-type(3):hover, body .education .overview-inner .personal-details .details .social a:nth-of-type(3):hover, body .portfolio .overview-inner .personal-details .details .social a:nth-of-type(3):hover, body .contactMe .overview-inner .personal-details .details .social a:nth-of-type(3):hover, body .education .education-inner .personal-details .details .social a:nth-of-type(3):hover, body .portfolio .portfolio-inner .personal-details .details .social a:nth-of-type(3):hover, body .contactMe .contactMe-inner .personal-details .details .social a:nth-of-type(3):hover {
                background-color: #FFF; }
                body .overview .overview-inner .personal-details .details .social a:nth-of-type(3):hover i, body .education .overview-inner .personal-details .details .social a:nth-of-type(3):hover i, body .portfolio .overview-inner .personal-details .details .social a:nth-of-type(3):hover i, body .contactMe .overview-inner .personal-details .details .social a:nth-of-type(3):hover i, body .education .education-inner .personal-details .details .social a:nth-of-type(3):hover i, body .portfolio .portfolio-inner .personal-details .details .social a:nth-of-type(3):hover i, body .contactMe .contactMe-inner .personal-details .details .social a:nth-of-type(3):hover i {
                  color: #0077B5; }
            body .overview .overview-inner .personal-details .details .social a:nth-of-type(4), body .education .overview-inner .personal-details .details .social a:nth-of-type(4), body .portfolio .overview-inner .personal-details .details .social a:nth-of-type(4), body .contactMe .overview-inner .personal-details .details .social a:nth-of-type(4), body .education .education-inner .personal-details .details .social a:nth-of-type(4), body .portfolio .portfolio-inner .personal-details .details .social a:nth-of-type(4), body .contactMe .contactMe-inner .personal-details .details .social a:nth-of-type(4) {
              background-color: #1769FF; }
              body .overview .overview-inner .personal-details .details .social a:nth-of-type(4) i, body .education .overview-inner .personal-details .details .social a:nth-of-type(4) i, body .portfolio .overview-inner .personal-details .details .social a:nth-of-type(4) i, body .contactMe .overview-inner .personal-details .details .social a:nth-of-type(4) i, body .education .education-inner .personal-details .details .social a:nth-of-type(4) i, body .portfolio .portfolio-inner .personal-details .details .social a:nth-of-type(4) i, body .contactMe .contactMe-inner .personal-details .details .social a:nth-of-type(4) i {
                color: #FFF; }
              body .overview .overview-inner .personal-details .details .social a:nth-of-type(4):hover, body .education .overview-inner .personal-details .details .social a:nth-of-type(4):hover, body .portfolio .overview-inner .personal-details .details .social a:nth-of-type(4):hover, body .contactMe .overview-inner .personal-details .details .social a:nth-of-type(4):hover, body .education .education-inner .personal-details .details .social a:nth-of-type(4):hover, body .portfolio .portfolio-inner .personal-details .details .social a:nth-of-type(4):hover, body .contactMe .contactMe-inner .personal-details .details .social a:nth-of-type(4):hover {
                background-color: #FFF; }
                body .overview .overview-inner .personal-details .details .social a:nth-of-type(4):hover i, body .education .overview-inner .personal-details .details .social a:nth-of-type(4):hover i, body .portfolio .overview-inner .personal-details .details .social a:nth-of-type(4):hover i, body .contactMe .overview-inner .personal-details .details .social a:nth-of-type(4):hover i, body .education .education-inner .personal-details .details .social a:nth-of-type(4):hover i, body .portfolio .portfolio-inner .personal-details .details .social a:nth-of-type(4):hover i, body .contactMe .contactMe-inner .personal-details .details .social a:nth-of-type(4):hover i {
                  color: #1769FF; }
            body .overview .overview-inner .personal-details .details .social a:nth-of-type(5), body .education .overview-inner .personal-details .details .social a:nth-of-type(5), body .portfolio .overview-inner .personal-details .details .social a:nth-of-type(5), body .contactMe .overview-inner .personal-details .details .social a:nth-of-type(5), body .education .education-inner .personal-details .details .social a:nth-of-type(5), body .portfolio .portfolio-inner .personal-details .details .social a:nth-of-type(5), body .contactMe .contactMe-inner .personal-details .details .social a:nth-of-type(5) {
              background-color: #333; }
              body .overview .overview-inner .personal-details .details .social a:nth-of-type(5) i, body .education .overview-inner .personal-details .details .social a:nth-of-type(5) i, body .portfolio .overview-inner .personal-details .details .social a:nth-of-type(5) i, body .contactMe .overview-inner .personal-details .details .social a:nth-of-type(5) i, body .education .education-inner .personal-details .details .social a:nth-of-type(5) i, body .portfolio .portfolio-inner .personal-details .details .social a:nth-of-type(5) i, body .contactMe .contactMe-inner .personal-details .details .social a:nth-of-type(5) i {
                color: #FFF; }
              body .overview .overview-inner .personal-details .details .social a:nth-of-type(5):hover, body .education .overview-inner .personal-details .details .social a:nth-of-type(5):hover, body .portfolio .overview-inner .personal-details .details .social a:nth-of-type(5):hover, body .contactMe .overview-inner .personal-details .details .social a:nth-of-type(5):hover, body .education .education-inner .personal-details .details .social a:nth-of-type(5):hover, body .portfolio .portfolio-inner .personal-details .details .social a:nth-of-type(5):hover, body .contactMe .contactMe-inner .personal-details .details .social a:nth-of-type(5):hover {
                background-color: #FFF; }
                body .overview .overview-inner .personal-details .details .social a:nth-of-type(5):hover i, body .education .overview-inner .personal-details .details .social a:nth-of-type(5):hover i, body .portfolio .overview-inner .personal-details .details .social a:nth-of-type(5):hover i, body .contactMe .overview-inner .personal-details .details .social a:nth-of-type(5):hover i, body .education .education-inner .personal-details .details .social a:nth-of-type(5):hover i, body .portfolio .portfolio-inner .personal-details .details .social a:nth-of-type(5):hover i, body .contactMe .contactMe-inner .personal-details .details .social a:nth-of-type(5):hover i {
                  color: #333; }
          body .overview .overview-inner .personal-details .details .btns a, body .education .overview-inner .personal-details .details .btns a, body .portfolio .overview-inner .personal-details .details .btns a, body .contactMe .overview-inner .personal-details .details .btns a, body .education .education-inner .personal-details .details .btns a, body .portfolio .portfolio-inner .personal-details .details .btns a, body .contactMe .contactMe-inner .personal-details .details .btns a {
            display: block; }
            body .overview .overview-inner .personal-details .details .btns a:first-of-type, body .education .overview-inner .personal-details .details .btns a:first-of-type, body .portfolio .overview-inner .personal-details .details .btns a:first-of-type, body .contactMe .overview-inner .personal-details .details .btns a:first-of-type, body .education .education-inner .personal-details .details .btns a:first-of-type, body .portfolio .portfolio-inner .personal-details .details .btns a:first-of-type, body .contactMe .contactMe-inner .personal-details .details .btns a:first-of-type {
              margin-top: 8px;
              margin-bottom: 20px; }
              @media screen and (max-width: 767px) {
                body .overview .overview-inner .personal-details .details .btns a:first-of-type, body .education .overview-inner .personal-details .details .btns a:first-of-type, body .portfolio .overview-inner .personal-details .details .btns a:first-of-type, body .contactMe .overview-inner .personal-details .details .btns a:first-of-type, body .education .education-inner .personal-details .details .btns a:first-of-type, body .portfolio .portfolio-inner .personal-details .details .btns a:first-of-type, body .contactMe .contactMe-inner .personal-details .details .btns a:first-of-type {
                  margin-bottom: 10px; } }
            body .overview .overview-inner .personal-details .details .btns a button, body .education .overview-inner .personal-details .details .btns a button, body .portfolio .overview-inner .personal-details .details .btns a button, body .contactMe .overview-inner .personal-details .details .btns a button, body .education .education-inner .personal-details .details .btns a button, body .portfolio .portfolio-inner .personal-details .details .btns a button, body .contactMe .contactMe-inner .personal-details .details .btns a button {
              color: #F2F5F6;
              border-radius: 6px;
              padding: 0.4rem 1rem;
              display: inline-block;
              background-color: #F23557;
              border: none;
              cursor: pointer;
              overflow: hidden;
              transition: color 0.3s linear;
              position: relative;
              font-size: 18px; }
              @media screen and (max-width: 991px) {
                body .overview .overview-inner .personal-details .details .btns a button, body .education .overview-inner .personal-details .details .btns a button, body .portfolio .overview-inner .personal-details .details .btns a button, body .contactMe .overview-inner .personal-details .details .btns a button, body .education .education-inner .personal-details .details .btns a button, body .portfolio .portfolio-inner .personal-details .details .btns a button, body .contactMe .contactMe-inner .personal-details .details .btns a button {
                  padding: 5px; } }
              body .overview .overview-inner .personal-details .details .btns a button:before, body .education .overview-inner .personal-details .details .btns a button:before, body .portfolio .overview-inner .personal-details .details .btns a button:before, body .contactMe .overview-inner .personal-details .details .btns a button:before, body .education .education-inner .personal-details .details .btns a button:before, body .portfolio .portfolio-inner .personal-details .details .btns a button:before, body .contactMe .contactMe-inner .personal-details .details .btns a button:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                transition: width 0.3s linear, border 0.3s linear;
                border-right: 0 solid #F2F5F6; }
              body .overview .overview-inner .personal-details .details .btns a button:hover, body .education .overview-inner .personal-details .details .btns a button:hover, body .portfolio .overview-inner .personal-details .details .btns a button:hover, body .contactMe .overview-inner .personal-details .details .btns a button:hover, body .education .education-inner .personal-details .details .btns a button:hover, body .portfolio .portfolio-inner .personal-details .details .btns a button:hover, body .contactMe .contactMe-inner .personal-details .details .btns a button:hover {
                color: #333; }
                body .overview .overview-inner .personal-details .details .btns a button:hover:before, body .education .overview-inner .personal-details .details .btns a button:hover:before, body .portfolio .overview-inner .personal-details .details .btns a button:hover:before, body .contactMe .overview-inner .personal-details .details .btns a button:hover:before, body .education .education-inner .personal-details .details .btns a button:hover:before, body .portfolio .portfolio-inner .personal-details .details .btns a button:hover:before, body .contactMe .contactMe-inner .personal-details .details .btns a button:hover:before {
                  border-right: 3px solid rgba(255, 255, 255, 0.2);
                  width: 105%; }
      body .overview .overview-inner .paragraph, body .education .overview-inner .paragraph, body .portfolio .overview-inner .paragraph, body .contactMe .overview-inner .paragraph, body .education .education-inner .paragraph, body .portfolio .portfolio-inner .paragraph, body .contactMe .contactMe-inner .paragraph {
        margin-top: 30px; }
        @media screen and (max-width: 767px) {
          body .overview .overview-inner .paragraph, body .education .overview-inner .paragraph, body .portfolio .overview-inner .paragraph, body .contactMe .overview-inner .paragraph, body .education .education-inner .paragraph, body .portfolio .portfolio-inner .paragraph, body .contactMe .contactMe-inner .paragraph {
            margin-top: 5px; } }
        body .overview .overview-inner .paragraph h5, body .education .overview-inner .paragraph h5, body .portfolio .overview-inner .paragraph h5, body .contactMe .overview-inner .paragraph h5, body .education .education-inner .paragraph h5, body .portfolio .portfolio-inner .paragraph h5, body .contactMe .contactMe-inner .paragraph h5 {
          display: inline-block;
          border-bottom: 1px solid #F2F5F6;
          padding-bottom: 3px;
          padding-right: 3px;
          margin-bottom: 30px; }
          @media screen and (max-width: 767px) {
            body .overview .overview-inner .paragraph h5, body .education .overview-inner .paragraph h5, body .portfolio .overview-inner .paragraph h5, body .contactMe .overview-inner .paragraph h5, body .education .education-inner .paragraph h5, body .portfolio .portfolio-inner .paragraph h5, body .contactMe .contactMe-inner .paragraph h5 {
              margin-bottom: 5px;
              font-size: 1rem; } }
        @media screen and (max-width: 767px) {
          body .overview .overview-inner .paragraph span, body .education .overview-inner .paragraph span, body .portfolio .overview-inner .paragraph span, body .contactMe .overview-inner .paragraph span, body .education .education-inner .paragraph span, body .portfolio .portfolio-inner .paragraph span, body .contactMe .contactMe-inner .paragraph span {
            font-size: 12px;
            display: contents; } }
        body .overview .overview-inner .paragraph p, body .education .overview-inner .paragraph p, body .portfolio .overview-inner .paragraph p, body .contactMe .overview-inner .paragraph p, body .education .education-inner .paragraph p, body .portfolio .portfolio-inner .paragraph p, body .contactMe .contactMe-inner .paragraph p {
          margin-left: 1rem;
          margin-bottom: 0;
          font-size: 18px; }
          @media screen and (max-width: 767px) {
            body .overview .overview-inner .paragraph p, body .education .overview-inner .paragraph p, body .portfolio .overview-inner .paragraph p, body .contactMe .overview-inner .paragraph p, body .education .education-inner .paragraph p, body .portfolio .portfolio-inner .paragraph p, body .contactMe .contactMe-inner .paragraph p {
              font-size: 12px;
              display: contents; } }
        body .overview .overview-inner .paragraph ul, body .education .overview-inner .paragraph ul, body .portfolio .overview-inner .paragraph ul, body .contactMe .overview-inner .paragraph ul, body .education .education-inner .paragraph ul, body .portfolio .portfolio-inner .paragraph ul, body .contactMe .contactMe-inner .paragraph ul {
          margin-bottom: 0;
          list-style: circle;
        /*&:last-of-type
        {
      	list-style : disc;
        }*/ }
  body .education .education-inner .education-details {
    padding: 30px 0;
    border-bottom: 1px solid rgba(242, 53, 87, 0.5); }
    body .education .education-inner .education-details h4 {
      display: inline-block;
      padding: 0 5px 3px 5px;
      margin-bottom: 10px;
      border-bottom: 1px solid #F2F5F6; }
      @media screen and (max-width: 767px) {
        body .education .education-inner .education-details h4 {
          font-size: 1.25rem; } }
    @media screen and (max-width: 767px) {
      body .education .education-inner .education-details h5 {
        font-size: 1rem; } }
    @media screen and (max-width: 767px) {
      body .education .education-inner .education-details p {
        font-size: 0.9rem; } }
  body .education .education-inner .skills-details {
    padding: 20px 0;
    text-align: center; }
    body .education .education-inner .skills-details h4 {
      display: inline-block;
      padding: 0 5px 3px 5px;
      border-bottom: 1px solid #F2F5F6;
      margin-bottom: 50px; }
      @media screen and (max-width: 767px) {
        body .education .education-inner .skills-details h4 {
          font-size: 1.25rem;
          margin-bottom: 15px; } }
    body .education .education-inner .skills-details .html, body .education .education-inner .skills-details .css, body .education .education-inner .skills-details .javascript, body .education .education-inner .skills-details .bootstrap, body .education .education-inner .skills-details .jquery, body .education .education-inner .skills-details .sass, body .education .education-inner .skills-details .git {
      display: inline-block;
      width: 110px;
      height: 110px;
      border-radius: 50%;
      margin: auto; }
      body .education .education-inner .skills-details .html:not(:last-of-type), body .education .education-inner .skills-details .css:not(:last-of-type), body .education .education-inner .skills-details .javascript:not(:last-of-type), body .education .education-inner .skills-details .bootstrap:not(:last-of-type), body .education .education-inner .skills-details .jquery:not(:last-of-type), body .education .education-inner .skills-details .sass:not(:last-of-type), body .education .education-inner .skills-details .git:not(:last-of-type) {
        margin-right: 20px; }
      @media screen and (max-width: 1200px) {
        body .education .education-inner .skills-details .html, body .education .education-inner .skills-details .css, body .education .education-inner .skills-details .javascript, body .education .education-inner .skills-details .bootstrap, body .education .education-inner .skills-details .jquery, body .education .education-inner .skills-details .sass, body .education .education-inner .skills-details .git {
          width: 90px;
          height: 90px; } }
      @media screen and (max-width: 1200px) {
        body .education .education-inner .skills-details .html, body .education .education-inner .skills-details .css, body .education .education-inner .skills-details .javascript, body .education .education-inner .skills-details .bootstrap, body .education .education-inner .skills-details .jquery, body .education .education-inner .skills-details .sass, body .education .education-inner .skills-details .git {
          width: 90px;
          height: 90px; } }
    body .education .education-inner .skills-details .html {
      background: url("../img/logos/html5.png") no-repeat center #E54D26;
      background-size: 100px; }
      @media screen and (max-width: 1200px) {
        body .education .education-inner .skills-details .html {
          background-size: 80px; } }
    body .education .education-inner .skills-details .css {
      background: url("../img/logos/css3.png") no-repeat center #379AD6;
      background-size: 100px; }
    body .education .education-inner .skills-details .javascript {
      background: url("../img/logos/javascript.png") no-repeat center #F7DF1E;
      background-size: 100px; }
    body .education .education-inner .skills-details .bootstrap {
      background: url("../img/logos/bootstrap.png") no-repeat center #563D7C;
      background-size: 100px; }
    body .education .education-inner .skills-details .jquery {
      background: url("../img/logos/jquery.png") no-repeat center #3558A8;
      background-size: 100px; }
    body .education .education-inner .skills-details .sass {
      background: url("../img/logos/sass.png") no-repeat center #9C57A3;
      background-size: 100px; }
    body .education .education-inner .skills-details .git {
      background: url("../img/logos/git.png") no-repeat center #F05133;
      background-size: 100px; }
  body .portfolio .portfolio-inner {
    padding-bottom: 0; }
    body .portfolio .portfolio-inner .owl-carousel-row {
      height: calc(550px - 54px); }
      body .portfolio .portfolio-inner .owl-carousel-row .owl-carousel .owl-item .project {
        text-align: center; }
        body .portfolio .portfolio-inner .owl-carousel-row .owl-carousel .owl-item .project img {
          max-height: 90%;
          width: auto;
          margin: auto; }
        body .portfolio .portfolio-inner .owl-carousel-row .owl-carousel .owl-item .project a {
          text-align: center;
          display: inline-block;
          color: #333;
          margin-top: 20px;
          border: 2px solid #F23557;
          border-radius: 9px 3px;
          padding: 5px;
          text-decoration: none;
          transition: 0.2s background-color ease-in-out, 0.2s color ease-in-out; }
          body .portfolio .portfolio-inner .owl-carousel-row .owl-carousel .owl-item .project a:hover {
            background-color: #F23557;
            color: #F2F5F6; }
            body .portfolio .portfolio-inner .owl-carousel-row .owl-carousel .owl-item .project a:hover i {
              color: #F2F5F6; }
          body .portfolio .portfolio-inner .owl-carousel-row .owl-carousel .owl-item .project a i {
            color: #333;
            transition: color 0.2s ease-in-out; }
      body .portfolio .portfolio-inner .owl-carousel-row .owl-carousel .owl-prev, body .portfolio .portfolio-inner .owl-carousel-row .owl-carousel .owl-next {
        position: absolute;
        top: 0;
        height: 80%;
        background-color: transparent;
        border: none;
        outline: none; }
        body .portfolio .portfolio-inner .owl-carousel-row .owl-carousel .owl-prev:hover, body .portfolio .portfolio-inner .owl-carousel-row .owl-carousel .owl-next:hover {
          color: #F23557; }
          body .portfolio .portfolio-inner .owl-carousel-row .owl-carousel .owl-prev:hover i, body .portfolio .portfolio-inner .owl-carousel-row .owl-carousel .owl-next:hover i {
            color: rgba(242, 53, 87, 0.5); }
        body .portfolio .portfolio-inner .owl-carousel-row .owl-carousel .owl-prev i, body .portfolio .portfolio-inner .owl-carousel-row .owl-carousel .owl-next i {
          font-size: 2rem;
          color: #F23557;
          transition: color 0.2s ease-in-out; }
      body .portfolio .portfolio-inner .owl-carousel-row .owl-carousel .owl-prev {
        left: 0; }
      body .portfolio .portfolio-inner .owl-carousel-row .owl-carousel .owl-next {
        right: 0; }
    body .portfolio .portfolio-inner .mobile-imgs a {
      font-size: 0.9rem;
      color: #333;
      text-decoration: none;
      display: inline-block; }
      body .portfolio .portfolio-inner .mobile-imgs a i {
        color: #F23557; }
    body .portfolio .portfolio-inner .mobile-imgs .port-img-container img {
      max-width: 100%; }
  @media screen and (max-width: 767px) {
    body .contactMe .contactMe-inner {
      margin-bottom: 85px; } }
  body .contactMe .contactMe-inner .contactMe-group {
    height: calc(100% - 47px); }
    @media screen and (max-width: 767px) {
      body .contactMe .contactMe-inner .contactMe-group .contactMe-form {
        margin-top: 1rem; } }
    body .contactMe .contactMe-inner .contactMe-group .contactMe-form .title, body .contactMe .contactMe-inner .contactMe-group .contactMe-form .email, body .contactMe .contactMe-inner .contactMe-group .contactMe-form .phone, body .contactMe .contactMe-inner .contactMe-group .contactMe-form .subject {
      height: 35px; }
      body .contactMe .contactMe-inner .contactMe-group .contactMe-form .title select, body .contactMe .contactMe-inner .contactMe-group .contactMe-form .email select, body .contactMe .contactMe-inner .contactMe-group .contactMe-form .phone select, body .contactMe .contactMe-inner .contactMe-group .contactMe-form .subject select, body .contactMe .contactMe-inner .contactMe-group .contactMe-form .title input, body .contactMe .contactMe-inner .contactMe-group .contactMe-form .email input, body .contactMe .contactMe-inner .contactMe-group .contactMe-form .phone input, body .contactMe .contactMe-inner .contactMe-group .contactMe-form .subject input {
        vertical-align: unset;
        height: 35px;
        border: none;
        border-right: 1px solid #F2F5F6;
        border-radius: 1rem 0 0 1rem;
        width: 35%; }
        @media screen and (max-width: 767px) {
          body .contactMe .contactMe-inner .contactMe-group .contactMe-form .title select, body .contactMe .contactMe-inner .contactMe-group .contactMe-form .email select, body .contactMe .contactMe-inner .contactMe-group .contactMe-form .phone select, body .contactMe .contactMe-inner .contactMe-group .contactMe-form .subject select, body .contactMe .contactMe-inner .contactMe-group .contactMe-form .title input, body .contactMe .contactMe-inner .contactMe-group .contactMe-form .email input, body .contactMe .contactMe-inner .contactMe-group .contactMe-form .phone input, body .contactMe .contactMe-inner .contactMe-group .contactMe-form .subject input {
            width: 38%; } }
      body .contactMe .contactMe-inner .contactMe-group .contactMe-form .title input, body .contactMe .contactMe-inner .contactMe-group .contactMe-form .email input, body .contactMe .contactMe-inner .contactMe-group .contactMe-form .phone input, body .contactMe .contactMe-inner .contactMe-group .contactMe-form .subject input {
        border-right: none;
        margin-left: -4px;
        padding-left: 5px;
        border-radius: 0 1rem 1rem 0;
        width: 64%; }
        @media screen and (max-width: 767px) {
          body .contactMe .contactMe-inner .contactMe-group .contactMe-form .title input, body .contactMe .contactMe-inner .contactMe-group .contactMe-form .email input, body .contactMe .contactMe-inner .contactMe-group .contactMe-form .phone input, body .contactMe .contactMe-inner .contactMe-group .contactMe-form .subject input {
            width: 61%; } }
    body .contactMe .contactMe-inner .contactMe-group .contactMe-form .email input, body .contactMe .contactMe-inner .contactMe-group .contactMe-form .phone input, body .contactMe .contactMe-inner .contactMe-group .contactMe-form .subject input {
      border-radius: 1rem;
      width: 99%; }
    body .contactMe .contactMe-inner .contactMe-group .contactMe-form .message textarea {
      width: 99%;
      height: 150px;
      border: none;
      padding: 5px;
      border-radius: 1rem;
      resize: none; }
    body .contactMe .contactMe-inner .contactMe-group .contactMe-form .send button {
      border: none;
      padding: 5px;
      background-color: #F23557;
      color: #F2F5F6;
      width: 50%;
      border-radius: 1rem;
      cursor: pointer;
      margin-top: 1rem;
      transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out; }
      body .contactMe .contactMe-inner .contactMe-group .contactMe-form .send button:hover {
        background-color: #F2F5F6;
        color: #F23557; }
        body .contactMe .contactMe-inner .contactMe-group .contactMe-form .send button:hover i {
          color: #F23557; }
      body .contactMe .contactMe-inner .contactMe-group .contactMe-form .send button i {
        margin-left: 5px;
        color: #F2F5F6;
        transition: color 0.2s ease-in-out; }
      @media screen and (max-width: 767px) {
        body .contactMe .contactMe-inner .contactMe-group .contactMe-form .send button {
          width: 80%; } }
  @media screen and (max-width: 767px) {
    body .modal .modal-content {
      width: 85%;
      margin: auto; } }

/* Start Media Query */

/*# sourceMappingURL=style.css.map */
